<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="./medal.png">
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Long+Cang&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./main.css">
    <title>CSS TEST</title>
</head>
<body>
    <header class="main-header">
        <a class="first-header a-focus" href="#">This is a CSS test</a>
     <nav class="main-nav">
         <ul class="main-nav__items">
             <li class="main-nav__item"><a href="#">Home</a></li>
             <li class="main-nav__item"><a href="#">Index</a></li>
             <li class="main-nav__item"><a href="#">About</a></li>
             <li class="main-nav__item login-button"><a href="#" class="no-change">Login</a></li>
         </ul>
     </nav>
    </header>
    <article class="article-cards">
       <h2 class="article-cards__title">Info</h2>
       <ul class="article-cards__list">
           <li>Name</li>
           <li>Profesion</li>
           <li>Age</li>
       </ul>
        <button class="cards-button">Choose</button>
    </article>
    <article class="article-cards highlight">
       <h2 class="article-cards__title">About</h2>
       <ul class="article-cards__list">
           <li>Name</li>
           <li>Profesion</li>
           <li>Age</li>
       </ul>
        <button class="cards-button">Choose</button>
    </article>
    <article class="article-cards">
       <h2 class="article-cards__title">Details</h2>
       <ul class="article-cards__list">
           <li>Name</li>
           <li>Profesion</li>
           <li>Age</li>
       </ul>
        <button class="cards-button" onclick="alert('Click')">Choose</button>
    </article>
</body>
</html>